doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Aaron Cameron')

    link(href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css', rel='stylesheet')
    link(href='../css/tunebox.css', rel='stylesheet')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    link(rel='icon', href='favicon.png')
    title Tune
  body(ng-app="TuneApp")
    div.container(ng-controller="TuneController",ng-init="initialize(#{ JSON.stringify(data) });",)
      nav.navbar.navbar-default
        .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') TuneBox
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='#')
                  | Link 
              li
                a(href='#') Link
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Dropdown 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider(role='separator')
                  li
                    a(href='#') Separated link
                  li.divider(role='separator')
                  li
                    a(href='#') One more separated link
            form.navbar-form.navbar-left(id="searchForm")
              .form-group
                input.form-control(type='text', placeholder='Search')
              button.btn.btn-default(type='button') Submit
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#') Link
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Dropdown 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider(role='separator')
                  li
                    a(href='#') Separated link

      form(id="form")
        //- h4 success
        //- p= success
        //- h4 message
        //- p= message
        //- h4 data
        //- p= data
        //- h4 reason
        //- p= reason
        form#uploadForm(ref='uploadForm', method='post', enctype='multipart/form-data')
          input(type='file', name='sampleFile')
          input(type='submit', value='Upload!')
        span
          div.input-group.input-group-lg(ng-show="views.name",style="width:25%")
            input.form-control(type='text',name='name',ng-value="data.name",ng-model="data.name",style="width:100%")
            span.input-group-btn
              button.btn.btn-default(type="button",ng-click="toggleView('name');")
                  span.glyphicon.glyphicon-save(ng-show="views.name")
          h1(ng-show="!views.name") {{data.name}}
            button.btn.btn-default.btn-edit(type="button",ng-click="toggleView('name');")
                span.glyphicon.glyphicon-save(ng-show="views.name")
                span.glyphicon.glyphicon-edit(ng-show="!views.name")
        div.well.well-lg
          div.row
            div.col-md-12
              div.well
                h3.notop Description
                  span.button.btn.btn-default.btn-edit(type="button",ng-click="toggleView('description');")
                    span.glyphicon.glyphicon-save(ng-show="views.description")
                    span.glyphicon.glyphicon-edit(ng-show="!views.description")
                div.input-group.wide(ng-show="views.description")
                  input.form-control(ng-show="views.description",type='text',name='description',ng-value="data.description",ng-model="data.description")
                h4(ng-show="!views.description") {{data.description}}
          br

          // TAGS
          
          h3.notop Tags
            span.button.btn.btn-default.btn-edit(type="button",ng-click="toggleView('tags');")
              span.glyphicon.glyphicon-save(ng-show="views.tags")
              span.glyphicon.glyphicon-edit(ng-show="!views.tags")
          div.well.well-lg(ng-show="views.tags")
            i(style="color: #888888") Add tags/keywords to help people find this tune. Click a tag to remove it. 8 tag limit.
            br
            br
            div.row
              .input-group
                span.input-group-addon Tag
                input#name.form-control(type='text', aria-describedby='tagText', name='tagText',ng-value="tagText",ng-model="tagText")
                span.input-group-btn
                  button.btn.btn-default(type='button',ng-click="addTag();")
                    span.glyphicon.glyphicon-plus
            br
            div.well.well-lg
              span
                i(ng-show="data.tags.length===0") No tags
                span.label.label-primary.label-tag(
                  ng-repeat="tag in data.tags track by $index",
                  ng-click="deleteTag(tag);"
                  ) {{tag}}
            br
          div.well.well-lg(ng-show="!views.tags")
            span
              i(ng-show="data.tags.length===0") No tags
              span.label.label-default.label-tag(
                ng-repeat="tag in data.tags track by $index",
                ) {{tag}}
            br
          button.login.btn.btn-danger(type='button',ng-click="submitForm(true)") Delete
        input(type="hidden",name="delete",id="delete")
        input(name='_csrf', type='hidden', value=csrfToken)
        button.login.btn.btn-primary.btn-lg.btn-block(type='button',ng-click="submitForm(false)") Save
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
    // <script src="../../dist/js/bootstrap.min.js"></script>
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    script(src="../angular/angular.min.js")
    script(src="../ang/tune.js")